<h1>EDIT PAGE</h1>
<h1>Hello {{result.name}}, you are editing a new NGO</h1>
<form action="/new-ngo/{{result._id}}/edit" method="POST">
    <label>Name</label>
    <input name="name" type="text" value={{this.name}}>
    <br>
    <label>Description:</label>
    <input name="information" type="text" value={{this.information}}>
    <br>
    <label>Image:</label>
    <input name="images" type="text" value={{this.images}}>
    <br>
    <label>Web-site:</label>
    <input name="url" type="text" value={{this.url}}>
    <br>
    <label>Category:</label>
    <input name="key" type="text" value={{this.key}}>
    <br>

    <button type="submit">Edit the NGO</button>

</form>