<h1>EDIT PAGE</h1>
<h1>Hello {{uresult.name}}, you are editing a new NGO</h1>
<form action="/new-ngo/{{uresult._id}}/{{nresult._id}}/edit" method="POST">
    <label>Name</label>
    <input name="name" type="text" value={{nresult.name}}>
    <br>
    <label>Description:</label>
    <input name="information" type="text" value={{nresult.information}}>
    <br>
    <label>Image:</label>
    <input name="images" type="text" value={{nresult.images}}>
    <br>
    <label>Web-site:</label>
    <input name="url" type="text" value={{nresult.url}}>
    <br>
    <label>Category:</label>
    <input name="key" type="text" value={{nresult.key}}>
    <br>

    <button type="submit">Edit the NGO</button>

</form>