<div class="new-ngo-page">
    <div class="new-ngo-page-box">
    <h1>Hello {{uresult.name}}, you are editing {{nresult.name}} NGO</h1>

        <form action="/new-ngo/{{uresult._id}}/{{nresult._id}}/edit" method="POST" enctype="multipart/form-data">
            <div class="new-ngo-page-inside-box">
                <div>
                    <label>Name</label>
                    <input name="name" type="text" value={{nresult.name}}>
                    <br>
                    <label>Image:</label>
                    <input type="file" name="images" accept="image/png, image/jpg">
                    <br>
                    <label>Web-site:</label>
                    <input name="url" type="text" value={{nresult.url}}>
                    <br>
                    <label>Category:</label><br>
                    <select name="key" size="1">
                        <option disabled selected>Your Category</option>
                        <option value="environment">environment</option>
                        <option value="animals">animals</option>
                        <option value="health">health</option>
                        <option value="education">education</option>
                    </select>
                </div>
                <div class="right-side">
                    <label>Description:</label>
                    <textarea name="information" style="height: 310px; width:400px">{{nresult.information}} </textarea>
                    <button type="submit">Edit the NGO</button>
                </div>
            </div>
             <br>
        </form>

    </div>
</div>