<h1>NGOS INFO</h1>
{{#each result}}
  <h2>{{this.key}}</h2>
  <h3>{{this.name}}</h3>
  {{#each this.images}}
    {{#if @last}}<img src="{{this}}" alt="img"> {{/if}}
  {{/each}}
  <p>{{this.information}}</p>
{{/each}}
{{#if logged}}
<a href="#">Donate</a>
{{else}}
<p>Create an account or log In for donate</p>
<a href="/signup">Create</a>
<a href="/login">Log IN</a>
{{/if}}
