<h1>NGOS </h1>

<form>
  <h3>What type of NGO are you looking for?</h3>
<select size="1">
  <option value="coleccion.html">Select the type</option>
  <option value="{{data.key}}">environment</option>
  <option value="{{data.key}}">animals</option>
  <option value="{{data.key}}">health</option>
  <option value="{{data.key}}">education</option>
</select>
<input type="button" value="Search" onClick="filter()">
</form>

{{#each data}}
  <a href="/ngo-info/{{this._id}}">
    <img src="{{this.images.[0]}}" >
    <h3>{{this.name}}</h3>
  </a>
{{/each}}

 <a href="/profile"><button>DONATE</button></a>