<h1>Profile</h1>
<h2>My info</h2>

  <h4>Name: {{result.name}}</h3>
  <h4>Mail: {{result.email}}</h4>
  <h4>Password: **** </h4>

<div>
  <p>{{msg}}</p>
  <button class="edit-profile" href="">Edit your information</button>
  
    <form class="form-modify" action="/profile/{{result._id}}" method="POST">
      <label>Full name:</label>
      <input name="name" type="text" value="{{result.name}}">
      <br>
      <label>Your email:</label>
      <input name="email" type="email" value="{{result.email}}">
      <br>
      <label>Old password:</label>
      <input name="oldPassword" type="password" placeholder="*********">
      <br>
      <label>New password:</label>
      <input name="newPassword" type="password">
      <br>
      <button type="submit">Change</button>
    </form>
  

</div>
<div>
  <button class="delete-profile">Delete your account</button>
  <div class="div-delete">
    <p>You are going to delete all your information and the NGOs you have created, BE SURE OF THAT CHAMP!</p>
    <a href="/delete-profile/{{result._id}}">Delete</a>
  </div>
</div>

<div>
  <button class="modify-ngos">Your NGOs</button>
  <div class="div-ngos">
    <p>{{msgnongo}}</p>
    {{#each resultngos}}
      <img src="{{this.images.[0]}}" alt="img">
      <p>{{this.name}}</p>
      <a href="/new-ngo/{{this.owner}}/{{this._id}}/edit">Edit</a>
      <a href="/new-ngo/{{this.owner}}/{{this._id}}/delete">Delete</a>
      <br>
    {{/each}}
  </div>
</div>

<a href="/new-ngo/{{result._id}}">Creat new NGO</a>

